<div class="container text-center">
<!--   <img src="<%= asset_path 'deco.png' %>" alt="deco"> -->
  <h3><%= t('.title_html') %></h3>
  <p><%= t('.text_html', email: "contact@a-waree.io" ) %></p>
  <div class="div-center">
    <div class="btn-email">
      <img src="<%= asset_path 'btn.png' %>" alt="subscribe">
      <p class="btn-email-text"><%= t('.button') %></p>
      <a class="link" href="mailto:contact@a-waree.io?subject=Landing%20Page"></a>
    </div>
  </div>
</div>

