<div class="container text-center">
  <h3><%= t('.title_html') %></h3>
  <div class="team-avatars">
    <div class="text-center">
      <img src="<%= asset_path 'anne.png' %>" alt="Anne">
      <p>Anne</p>
    </div>
    <div class="text-center">
      <img src="<%= asset_path 'flo.png' %>" alt="Anne">
      <p>Florence</p>
    </div>
    <div class="text-center">
      <img src="<%= asset_path 'jo.jpg' %>" alt="Anne">
      <p>Jonathan</p>
    </div>
  </div>
  <p><%= t('.text_html') %></p>
</div>
