<img class="banner" src="<%= asset_path 'banner2.png' %>" alt="banner">
<div class="title hidden-xs hidden-sm"></div>
<%= render "title" %>
<div class="container-rectangle"><div class="rectangle"></div></div>
<%= render "concept" %>
<div class="container-rectangle"><div class="rectangle"></div></div>
<%= render "cta" %>
<div class="container-rectangle"><div class="rectangle"></div></div>
<%= render "email" %>
<div class="container-rectangle"><div class="rectangle"></div></div>
<%= render "team" %>
<%= render "networks" %>
<div class="footer"></div>
